//------------------------------------
//    $LAYOUTS
//------------------------------------


// Variables
%animate-show
  +vendor(transition-property, opacity)
  +vendor(transition-duration, 1s)
  +vendor(transition-timing-function, easeIn)


// Main container holds almost all elements
.container
  position: relative
  background-color: $white
  overflow-y: scroll
  opacity: 0
  @extend %animate-show

.js-loaded
  .container
    opacity: 1

// Set site width
.site-width
  width: 90%
  margin-left: auto
  margin-right: auto
  // max-width: 1000px

// Section
section
  position: relative
  +rem(margin-bottom, $bs*4)



// Sidebar
.js-sidebar--open
  .sidebar
    display: block
  .container
    margin-right: 200px


.sidebar
  display: none
  position: absolute
  right: 0
  top: 0
  width: 200px
  min-height: 100%
  background-color: darken($black, 5%)

.sidebar__inner
  position: relative
  +rem(padding, $bs)


