//------------------------------------
//    $LAYOUTS
//------------------------------------

// Wrap all elements
.wrapper
  width: 100%
  height: 100%
  position: relative
  overflow-x: hidden


// Variables
%animate-show
  +vendor(transition-property, opacity)
  +vendor(transition-duration, 1s)
  +vendor(transition-timing-function, easeIn)


// Main container holds almost all elements
.container
  position: relative
  background-color: $white
  overflow-y: scroll
  opacity: 0
  -webkit-transition: -webkit-transform 0.3s
  @extend %animate-show

// FadeIn animation when DOM is ready
.js-loaded
  .container
    opacity: 1


// Set site width
.site-width
  width: 90%
  margin-left: auto
  margin-right: auto


// Section
section
  position: relative
  +rem(margin-bottom, $bs*3)


// Set sidebar width
// It's used for translateX position as well.
$sidebar-width: 300px

// Sidebar
.js-sidebar--open
  .sidebar
    +vendor(transform, translateX(0))
  .container
    +vendor(transform, translateX(-$sidebar-width))
  .sidebar__inner
    display: block
  //   opacity: 1



.sidebar
  display: block
  position: absolute
  overflow-y: hidden
  right: 0
  top: 0
  width: $sidebar-width
  min-height: 100%
  background-color: darken($black, 5%)
  +vendor(transition, 0.3s)
  +vendor(transform, translateX($sidebar-width))


.sidebar__inner
  position: relative
  +rem(padding, $bs*3.5 0)

  // prevent some bug
  display: none

  // oppacity for animation
  // opacity: 0
  // +vendor(transition-property, opacity)
  // +vendor(transition-duration, .3s)




