---
title: index
---

// Menu
// - - - - - - - - - - - - - - -

section
  .grid
    .grid__item.one-third
      h2.section-header
        | About

      .extra__text
        | #{data.copy.about.extra_text}


    .grid__item.one-third
      .copy
        h3.section-header-sub
          | English
        p
          | #{data.copy.about.quotes.en}
        span.quotes-by
          | #{data.copy.about.quotes_by}

    .grid__item.one-third
      .copy
        h3.section-header-sub
          | Japanese
        p
          | #{data.copy.about.quotes.ja}
        span.quotes-by
          | #{data.copy.about.quotes_by}



// Read Me
// - - - - - - - - - - - - - - -

section
  .grid
    .grid__item.one-third
      h2.section-header
        | Read me

    .grid__item.one-third
      .copy
        h3.section-header-sub
          | English
        p
          | #{data.copy.readme.en}

    .grid__item.one-third
      .copy
        h3.section-header-sub
          | Japanese
        p
          | #{data.copy.readme.ja}



// Subtitle
// - - - - - - - - - - - - - - -

section
  .grid
    .grid__item.one-third
      h2.section-header
        | Subtitle

    .grid__item.one-third
      .copy
        h3.section-header-sub
          | English
        p
          | #{data.copy.subtitle.en}

    .grid__item.one-third
      .copy
        h3.section-header-sub
          | Japanese
        p
          | #{data.copy.subtitle.ja}


// Tagline
// - - - - - - - - - - - - - - -

section
  .grid
    .grid__item.one-third
      h2.section-header
        | Tagline

    .grid__item.one-third
      .copy
        h3.section-header-sub
          | English
        p
          | #{data.copy.tagline.en}

    .grid__item.one-third
      .copy
        h3.section-header-sub
          | Japanese
        p
          | #{data.copy.tagline.ja}


// SHARE - HEADER
// - - - - - - - - - - - - - - -

section
  .grid
    .grid__item.one-third
      h2.section-header
        | Share

    .grid__item.one-third
      .copy.border__lighter

    .grid__item.one-third
      .copy.border__lighter

// SHARE - Email footer
// - - - - - - - - - - - - - - -

section#email-footer
  .grid
    .grid__item.one-third
      h3.section-header.section-header__lighter
        | Email footer
      .extra__text
        | #{data.copy.email_footer.extra_text}

    .grid__item.one-third
      .copy
        h3.section-header-sub
          | English
        p
          | #{data.copy.tagline.en}

    .grid__item.one-third
      .copy
        h3.section-header-sub
          | Japanese
        p
          | #{data.copy.email_footer.ja}


// SHARE - Book - Email
// - - - - - - - - - - - - - - -

section
  .grid
    .grid__item.one-third
      h3.section-header.section-header__lighter
        | Book
        span.share__email email
      .extra__text
        | #{data.copy.book.extra_text}


    .grid__item.one-third
      .copy
        h3.section-header-sub
          | English
        p
          span.tag__type Mine
          | #{data.copy.tagline.en}
        p
          span.tag__type.tag__type--orange Other's
          | #{data.copy.tagline.en}

    .grid__item.one-third
      .copy
        h3.section-header-sub
          | Japanese
        p
          span.tag__type Mine
          | #{data.copy.book.mine.email.ja}
        p
          span.tag__type.tag__type--orange Other's
          | #{data.copy.book.others.email.ja}


// SHARE - Book - Twitter
// - - - - - - - - - - - - - - -

section
  .grid
    .grid__item.one-third
      h3.section-header.section-header__lighter
        | Book
        span.share__twitter twitter


    .grid__item.one-third
      .copy
        h3.section-header-sub
          | English
        p
          span.tag__type Mine
          | #{data.copy.tagline.en}
        p
          span.tag__type.tag__type--orange Other's
          | #{data.copy.book.others.twitter.en}

    .grid__item.one-third
      .copy
        h3.section-header-sub
          | Japanese
        p
          span.tag__type Mine
          | #{data.copy.book.mine.twitter.ja}
        p
          span.tag__type.tag__type--orange Other's
          | #{data.copy.book.others.twitter.ja}


// SHARE - Book - Facebook
// - - - - - - - - - - - - - - -

section
  .grid
    .grid__item.one-third
      h3.section-header.section-header__lighter
        | Book
        span.share__facebook facebook


    .grid__item.one-third
      .copy
        h3.section-header-sub
          | English
        p
          span.tag__type Mine
          | #{data.copy.tagline.en}
        p
          span.tag__type.tag__type--orange Other's
          | #{data.copy.book.others.twitter.en}

    .grid__item.one-third
      .copy
        h3.section-header-sub
          | Japanese
        p
          span.tag__type Mine
          | #{data.copy.book.mine.facebook.ja}
        p
          span.tag__type.tag__type--orange Other's
          | #{data.copy.book.others.facebook.ja}


